<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BAR</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>server</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>dbname</param-name>
    <param-value>A20170512</param-value>
  </context-param>
  <context-param>
    <param-name>dbuser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbpwd</param-name>
    <param-value>123456</param-value>
  </context-param>
  <servlet>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUSerServlet</servlet-name>
    <servlet-class>com.szx.jnmc.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.szx.jnmc.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>TextServlet</display-name>
    <servlet-name>TextServlet</servlet-name>
    <servlet-class>com.szx.jnmc.TextServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ReplyServlet</display-name>
    <servlet-name>ReplyServlet</servlet-name>
    <servlet-class>com.szx.jnmc.ReplyServlet</servlet-class>
  </servlet>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.szx.jnmc.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/topic.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/Message.jsp</url-pattern>
  </filter-mapping>
</web-app>